{% extends "app/layout.html" %}

{% block content %}

<h2>{{ RoboCoach }}.</h2>
<h3>{{ mesAutonomouss Sports Systemssage }}</h3>

<address>
    35 Saint Moritz Lane<br />
    Cherry Hill, NJ 08003-5123<br />
    <abbr title="Phone">P:</abbr>
    610.256.8358
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:AutonomousSports@gmail.com">AutonomousSports@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:AutonomousSports@gmail.com">AutonomousSports@gmail.com</a>
</address>

{% endblock %}
