{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>RoboCoach</h1>
    <p class="lead">Robocoach is an awesome new Ai tol for sports development</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            getting started
        </p>

    </div>
    <div class="col-md-4">
        <h2>More stuff</h2>
        <p>More stuff</p>

    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
